---
---

<html lang="es">
  <head>
    <title>Página no encontrada</title>
  </head>
  <body>

    <div>


    <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xml:space="preserve"
      width="800px"
      height="480px"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2"
      viewBox="0 0 4000 2400"
      ><text
        x="429.499"
        y="908.872"
        style='font-family:"ArialMT","Arial",sans-serif;font-size:801.945px;fill:#364448'
        >500</text
      ><text
        x="146.783"
        y="1122.031"
        style='font-family:"ArialMT","Arial",sans-serif;font-size:284.107px;fill:#364448'
        >Fuera de servicio</text
      ><path
        d="M3069.614 2202.602c0-15.316 124.191-27.73 277.398-27.73 153.211 0 277.41 12.414 277.41 27.73 0 15.312-124.199 27.727-277.41 27.727-153.207 0-277.398-12.414-277.398-27.727"
        style="fill:#b6c4c8;fill-rule:nonzero"></path><path
        d="M1993.114 2202.04c0-22.875 252.391-41.418 563.711-41.418 311.328 0 563.707 18.543 563.707 41.418s-252.379 41.418-563.707 41.418c-311.32 0-563.711-18.543-563.711-41.418m-1232.324 0c0-22.875 211.496-41.418 472.383-41.418 260.902 0 472.391 18.543 472.391 41.418s-211.488 41.418-472.391 41.418c-260.887 0-472.383-18.543-472.383-41.418"
        style="fill:#b6c4c8;fill-rule:nonzero"></path><path
        d="m3260.102 1756.302-11.008-1.07c-1.281 13.188-11.789 23.18-26.449 30.387-14.363 7.059-32.09 10.871-45.441 11.844 1.039-3.668 1.629-7.402 1.719-11.07.301-13.316-4.789-26.152-14.418-33.094-4.812-3.469-10.98-5.242-17.383-4.184-6.398 1.059-12.789 4.746-18.887 11.059-6.613 6.836-8.293 15.422-5.293 22.094 3.012 6.672 9.07 11.293 15.801 15.078s14.332 6.629 21.172 8.543c.219.062.379.082.598.141a31.7 31.7 0 0 1-8.098 6.746c-10.891 6.352-29.172 9.055-57.691 1.617l-2.789 10.703c30.258 7.891 51.738 5.582 66.051-2.77 6.289-3.668 10.957-8.516 14.32-13.887 1.668.168 3.27.254 4.707.16 14.84-.957 34.043-4.957 50.512-13.055 16.461-8.098 30.789-20.848 32.578-39.242Zm-93.77 18.883a34.6 34.6 0 0 1 1.531 10.953 33.7 33.7 0 0 1-1.691 9.82c-1.129-.258-2.078-.383-3.27-.719-6.141-1.715-13.078-4.348-18.738-7.531-5.652-3.188-9.812-7.035-11.133-9.98-1.328-2.945-1.438-5.125 3.152-9.867 4.918-5.094 9.27-7.262 12.738-7.836 3.48-.574 6.332.234 9.121 2.246 3.488 2.516 6.539 7.242 8.289 12.914M2669.606 708.134c5.07 9.547 8.629 24.527 11.047 42.477 2.41 17.953 3.383 38.512 1.75 57.711-1.379 16.18-4.449 31.371-10.758 43.441 2.699 4.281 5.438 8.758 8.25 13.668 8.48 14.852 11.148 30.062 13.301 44.25 2.148 14.191 3.84 27.41 9.277 39.473l-13.578 6.129c-6.621-14.66-8.332-29.461-10.43-43.371-2.109-13.898-4.539-26.879-11.512-39.078-1.648-2.879-3.25-5.512-4.848-8.141-3.543 3.34-7.602 6.059-12.312 7.641-7.5 2.508-16.098 2.199-25.188-.879-16.781-5.672-27.523-17.41-32.312-29.672-4.777-12.262-4.309-25.371 3.172-34.309 3.75-4.473 9.578-7.473 15.988-7.652 6.41-.188 13.152 2.09 20.191 6.59 9.148 5.852 19.09 15.633 29.93 30.461 2.918-8.418 5.031-18.609 5.98-29.809 1.508-17.801.609-37.5-1.672-54.461-2.277-16.961-6.277-31.512-9.438-37.469l13.16-7Zm-45.992 110.828c-5.281-3.379-9.258-4.32-11.738-4.25s-3.711.801-4.98 2.32c-2.551 3.051-3.961 11.012-.711 19.328 3.242 8.32 10.422 16.66 23.191 20.98 6.77 2.293 11.699 2.203 15.68.863 3.27-1.102 6.148-3.191 8.809-6.363-12.008-17.527-22.398-27.859-30.25-32.879"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="M2205.442 1019.677h732.852c90.219 0 162.852 72.637 162.852 162.859v732.844c0 90.219-72.633 162.852-162.852 162.852h-732.852c-90.219 0-162.848-72.633-162.848-162.852v-732.844c0-90.223 72.629-162.859 162.848-162.859"
        style="fill:#6f8990;fill-rule:nonzero"></path><path
        d="M2252.872 1088.185h637.992c78.539 0 141.77 63.23 141.77 141.781v637.984c0 78.543-63.23 141.773-141.77 141.773h-637.992c-78.539 0-141.77-63.23-141.77-141.773v-637.984c0-78.551 63.23-141.781 141.77-141.781"
        style="fill:#92a6ab;fill-rule:nonzero"></path><path
        d="M2256.825 1511.927h630.09v375.859h-630.09z"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="M2365.263 1250.114h450.359v72.941h-450.359zm485.711 0h82.73v72.941h-82.73zm-640.942 0h127.371v72.941h-127.371z"
        style="fill:#fefefe;fill-rule:nonzero"></path><path
        d="M2120.743 2078.231h902.25c32.871 0 59.34 26.465 59.34 59.34s-26.469 59.34-59.34 59.34h-902.25c-32.879 0-59.34-26.465-59.34-59.34s26.461-59.34 59.34-59.34"
        style="fill:#6f8990;fill-rule:nonzero"></path><path
        d="M2303.942 1735.294a26.64 26.64 0 0 0-12.449 16.266c-3.84 14.316 4.602 28.93 18.91 32.766l25.852 6.926-6.93 25.84c-3.832 14.316 4.598 28.93 18.918 32.766a26.7 26.7 0 0 0 32.77-18.918l6.922-25.84 25.84 6.922a26.697 26.697 0 0 0 32.77-18.918c3.828-14.312-4.602-28.93-18.922-32.766l-25.84-6.922 6.922-25.844c3.84-14.316-4.602-28.93-18.922-32.766-14.309-3.836-28.93 4.602-32.758 18.918l-6.93 25.84-25.84-6.922c-7.16-1.918-14.391-.77-20.312 2.652"
        style="fill:#fefefe;fill-rule:nonzero"></path><path
        d="M2467.962 1634.423c-6.598-1.77-13.887-1.008-20.309 2.699-12.828 7.41-17.199 23.711-9.789 36.547l13.379 23.168-23.168 13.375c-12.84 7.41-17.203 23.711-9.793 36.547a26.693 26.693 0 0 0 36.543 9.793l23.168-13.379 13.379 23.168c7.41 12.836 23.711 17.207 36.543 9.793a26.69 26.69 0 0 0 9.797-36.543l-13.379-23.168 23.172-13.379c12.828-7.41 17.199-23.711 9.789-36.547s-23.711-17.203-36.551-9.793l-23.16 13.379-13.379-23.168c-3.711-6.418-9.629-10.719-16.242-12.492"
        style="fill:#fefefe;fill-rule:nonzero"></path><path
        d="M2560.442 1703.786c-5.777 0-11.547 2.215-15.98 6.641a22.545 22.545 0 0 0 0 31.949l15.98 15.977-15.98 15.973a22.545 22.545 0 0 0 0 31.949 22.543 22.543 0 0 0 31.953 0l15.98-15.973 15.969 15.973a22.54 22.54 0 0 0 31.949 0 22.54 22.54 0 0 0 0-31.949l-15.969-15.973 15.969-15.977a22.54 22.54 0 0 0 0-31.949 22.54 22.54 0 0 0-31.949 0l-15.969 15.973-15.98-15.973a22.52 22.52 0 0 0-15.973-6.641m295.453-47.516c0 60.969-49.422 110.391-110.391 110.391a110.36 110.36 0 0 1-78.051-32.332 110.36 110.36 0 0 1-32.34-78.059 110.36 110.36 0 0 1 32.34-78.055 110.38 110.38 0 0 1 78.051-32.332c60.969 0 110.391 49.422 110.391 110.387"
        style="fill:#fefefe;fill-rule:nonzero"></path><path
        d="M629.708 1755.372c49.105 65.477 135.605 93.402 219.941 91.449l-.348-14.898c-80.797 1.871-162.414-25.148-207.672-85.492zm-17.043 395.941c10.543 2.434 25.934 1.992 43.895-.32 17.961-2.309 38.078-6.703 56.199-13.246 15.27-5.516 29.145-12.418 39.172-21.633 4.832 1.5 9.863 2.984 15.34 4.426 16.543 4.352 31.922 2.996 46.188 1.398s27.465-3.387 40.523-1.25l2.406-14.711c-15.875-2.594-30.613-.418-44.59 1.148-13.977 1.57-27.137 2.578-40.734-1-3.203-.844-6.156-1.711-9.113-2.574 2.312-4.281 3.887-8.906 4.195-13.871.484-7.887-2.043-16.121-7.367-24.102-9.824-14.738-23.945-22.078-37.023-23.523-13.078-1.449-25.625 2.395-32.324 11.938-3.348 4.773-4.734 11.184-3.254 17.422 1.484 6.242 5.426 12.164 11.594 17.801 8.02 7.324 20.039 14.398 37.172 21.027-7.383 4.996-16.676 9.672-27.246 13.484-16.801 6.066-36.066 10.305-53.039 12.488-16.973 2.18-32.062 2.094-38.641.574l-3.352 14.523Zm95.156-73.102c-4.633-4.23-6.57-7.828-7.145-10.238-.574-2.414-.188-3.793.953-5.418 2.285-3.254 9.609-6.672 18.484-5.688 8.875.98 18.785 5.758 26.266 16.977 3.961 5.945 5.148 10.727 4.891 14.922-.211 3.441-1.492 6.758-3.863 10.152-20.043-7.066-32.711-14.426-39.586-20.707m1154.074-400.28c-3.16 10.348-11.242 23.453-22.223 37.855-10.98 14.398-24.84 29.621-39.57 42.047-12.41 10.465-25.328 19.031-38.32 23.105-1.117 4.934-2.348 10.035-3.84 15.5-4.5 16.5-13.359 29.145-21.879 40.699-8.52 11.551-30.379 17.613-39.82 18.512l-13.938-5.27c14.508-6.508 33.418-10.766 41.758-22.086 8.352-11.32 15.801-22.215 19.5-35.777.871-3.199 1.602-6.188 2.332-9.18-4.863-.141-9.66-1.086-14.113-3.305-7.07-3.523-12.938-9.828-17.188-18.43-7.852-15.875-7.152-31.777-1.859-43.828 5.289-12.047 14.887-20.992 26.5-22.02 5.809-.516 12.047 1.488 16.719 5.891 4.66 4.406 7.82 10.781 9.609 18.941 2.34 10.609 2.449 24.555-.371 42.703 8.012-3.895 16.711-9.609 25.301-16.852 13.652-11.516 26.961-26.082 37.332-39.691 10.379-13.605 17.848-26.719 19.82-33.172l14.25 4.355Zm-110.883 45.859c-1.348-6.129-3.488-9.605-5.301-11.309-1.797-1.703-3.18-2.059-5.156-1.883-3.973.352-10.594 4.988-14.172 13.164-3.59 8.176-4.41 19.148 1.57 31.234 3.16 6.402 6.711 9.824 10.48 11.699 3.078 1.535 6.598 2.086 10.719 1.73 3.902-20.891 3.859-35.543 1.859-44.637m-616.576-434.553 1.82 10.91c13.07-2.172 25.438 5.391 36.199 17.691 10.531 12.039 18.801 28.18 23.191 40.82-3.812-.062-7.57.34-11.133 1.207-12.938 3.152-24.027 11.391-28.238 22.492-2.102 5.539-2.219 11.957.461 17.867s7.898 11.121 15.57 15.391c8.309 4.609 17.039 4.012 22.707-.617 5.672-4.633 8.562-11.684 10.48-19.16 1.91-7.48 2.691-15.562 2.77-22.66 0-.23-.02-.391-.02-.613a31.5 31.5 0 0 1 8.609 6.07c8.961 8.871 16.301 25.84 16.5 55.312l11.062-.082c-.223-31.27-8-51.418-19.77-63.078-5.184-5.129-11.062-8.379-17.121-10.242-.281-1.648-.602-3.219-1.07-4.59-4.762-14.09-13.602-31.59-25.68-45.41-12.082-13.809-28.109-24.34-46.34-21.309Zm42.508 85.691c3.02-1.891 6.48-3.422 10.18-4.32a34 34 0 0 1 9.934-.91c.039 1.16.168 2.109.148 3.348-.07 6.371-.809 13.762-2.43 20.043-1.609 6.289-4.25 11.297-6.75 13.34-2.5 2.047-4.582 2.719-10.352-.48-6.199-3.441-9.41-7.082-10.867-10.289-1.453-3.203-1.41-6.172-.191-9.383 1.531-4.02 5.301-8.199 10.328-11.348"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="M613.681 1680.231a41.86 41.86 0 0 1 41.856 41.86c0 23.121-18.738 41.859-41.855 41.859-23.121 0-41.863-18.738-41.863-41.859a41.85 41.85 0 0 1 12.262-29.598 41.86 41.86 0 0 1 29.602-12.262"
        style="fill:#fecc00;fill-rule:nonzero"></path><path
        d="M843.438 2078.946v-530.832c0-65.348 52.613-117.957 117.965-117.957h530.832c65.348 0 117.957 52.609 117.957 117.957v530.832c0 65.352-52.609 117.961-117.957 117.961H961.403c-65.352 0-117.965-52.609-117.965-117.961"
        style="fill:#6f8990;fill-rule:nonzero"></path><path
        d="M893.063 2044.591v-462.125c0-56.891 45.801-102.691 102.691-102.691h462.117c56.902 0 102.703 45.801 102.703 102.691v462.125c0 56.891-45.801 102.695-102.703 102.695H995.754c-56.891 0-102.691-45.805-102.691-102.695"
        style="fill:#92a6ab;fill-rule:nonzero"></path><path
        d="M956.489 2000.681V1626.38c0-46.086 37.094-83.184 83.176-83.184h374.309c46.082 0 83.172 37.098 83.172 83.184v374.301c0 46.082-37.09 83.18-83.172 83.18h-374.309c-46.082 0-83.176-37.098-83.176-83.18"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="M1069.993 1728.013a29.12 29.12 0 0 0 8.59 20.672c11.449 11.449 29.891 11.449 41.34 0l20.672-20.672 20.668 20.672c11.449 11.449 29.891 11.449 41.34 0 11.453-11.453 11.453-29.891 0-41.34l-20.668-20.672 20.668-20.668a29.165 29.165 0 0 0 0-41.34c-11.449-11.449-29.891-11.449-41.34 0l-20.668 20.668-20.672-20.668c-11.449-11.449-29.891-11.449-41.34 0a29.17 29.17 0 0 0 0 41.34l20.672 20.668-20.672 20.672c-5.73 5.727-8.59 13.199-8.59 20.668m277.789 198.078V1755.29h52.84v170.801zm0-195.949v-122.559h52.84v122.559zm0 289.335v-72.496h52.84v72.496zm-204.308-159.21c44.16 0 79.961 35.797 79.961 79.957a79.97 79.97 0 0 1-23.422 56.539 79.95 79.95 0 0 1-56.539 23.418 79.95 79.95 0 0 1-56.539-23.418 79.97 79.97 0 0 1-23.422-56.539c0-44.16 35.801-79.957 79.961-79.957"
        style="fill:#fefefe;fill-rule:nonzero"></path><path
        d="M1610.192 2005.552v-384.043c0-18.773 19.172-33.883 42.992-33.883 23.809 0 42.98 15.109 42.98 33.883v384.043c0 18.773-19.172 33.887-42.98 33.887-23.82 0-42.992-15.113-42.992-33.887"
        style="fill:#92a6ab;fill-rule:nonzero"></path><clipPath id="_clip1"
        ><path d="M1621 1115h156v231h-156z"></path></clipPath
      ><g clip-path="url(#_clip1)"
        ><clipPath id="_clip2"
          ><path
            d="m1818.602 1303.427-62.258 48.289-62.262 48.289 20.16 24.699 7.262 8.902-15.492 26.848-42.098 72.992 62.258-48.289 62.262-48.293-20.16-24.699-7.262-8.898 15.48-26.852z"
          ></path></clipPath
        ><g clip-path="url(#_clip2)"
          ><path
            d="m1711.95 1231.849 213.086 143.004-154.469 230.168-213.086-143z"
            style="fill:url(#_Linear3);fill-rule:nonzero"></path></g
        ></g
      ><path
        d="M3181.313 731.634c68.891-122.828 176.172-136.277 380.941-163.258 0 0-215.051 107.508-242.461 219.77-27.422 112.27 32.359 213.309-7.172 356.121-39.527 142.82-209.09 294.277-366.148 379.758 0 0 218.48-202.027 265.922-368.488 47.43-166.461-99.973-301.07-31.082-423.902"
        style="fill:#b6c4c8;fill-rule:nonzero"></path><path
        d="M3400.013 2029.665h28.652a16.756 16.756 0 0 1 16.789 16.793v98.609a16.756 16.756 0 0 1-16.789 16.793h-28.652a16.753 16.753 0 0 1-16.789-16.793v-98.609a16.753 16.753 0 0 1 16.789-16.793"
        style="fill:#6f8990;fill-rule:nonzero"></path><path
        d="M3361.274 2142.864h106.129a16.753 16.753 0 0 1 16.789 16.793v20.461a16.753 16.753 0 0 1-16.789 16.793h-106.129a16.753 16.753 0 0 1-16.789-16.793v-20.461a16.753 16.753 0 0 1 16.789-16.793"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="m3128.204 2184.356-7.41-27.672a16.756 16.756 0 0 1 11.871-20.566l95.25-25.523a16.76 16.76 0 0 1 20.57 11.875l7.41 27.672a16.754 16.754 0 0 1-11.871 20.57l-95.25 25.52a16.755 16.755 0 0 1-20.57-11.875"
        style="fill:#6f8990;fill-rule:nonzero"></path><path
        d="m3247.575 2192.477-27.473-102.508a16.754 16.754 0 0 1 11.883-20.566l19.758-5.297a16.76 16.76 0 0 1 20.57 11.875l27.469 102.508a16.76 16.76 0 0 1-11.879 20.566l-19.758 5.297a16.76 16.76 0 0 1-20.57-11.875m246.07-100.468 91.898 53.062a16.755 16.755 0 0 1 6.148 22.941l-10.23 17.719a16.75 16.75 0 0 1-22.938 6.148l-91.91-53.059c-8.051-4.652-10.801-14.887-6.141-22.941l10.23-17.723a16.753 16.753 0 0 1 22.941-6.148"
        style="fill:#364448;fill-rule:nonzero"></path><path
        d="M2008.435 287.201c-42.789-113.711-109.41-126.16-236.578-151.141 0 0 133.547 99.531 150.578 203.449 17.02 103.93-20.102 197.473 4.449 329.68 24.551 132.211 129.852 272.422 227.402 351.562 0 0-135.691-187.031-165.152-341.133-29.457-154.098 62.082-278.707 19.301-392.418"
        style="fill:#b6c4c8;fill-rule:nonzero"></path><clipPath id="_clip4"
        ><path d="M2821 573h155v231h-155z"></path></clipPath
      ><g clip-path="url(#_clip4)"
        ><clipPath id="_clip5"
          ><path
            d="m3069.614 688.642-62.258 48.281-62.25 48.289 20.148 24.711 7.27 8.898-15.488 26.852-42.102 72.988 62.262-48.289 62.258-48.289-20.16-24.699-7.258-8.902 15.48-26.848z"
          ></path></clipPath
        ><g clip-path="url(#_clip5)"
          ><path
            d="m2962.966 617.072 213.082 142.996-154.465 230.168-213.082-143z"
            style="fill:url(#_Linear6);fill-rule:nonzero"></path></g
        ></g
      ><clipPath id="_clip7"><path d="M2171 425h102v264h-102z"></path></clipPath
      ><g clip-path="url(#_clip7)"
        ><clipPath id="_clip8"
          ><path
            d="m2270.856 540.931 47.637 62.75 47.641 62.762-25.867 18.641-9.32 6.719 8.008 29.941 21.781 81.41-47.641-62.762-47.641-62.758 25.859-18.641 9.32-6.723-8.008-29.938-21.77-81.402"
          ></path></clipPath
        ><g clip-path="url(#_clip8)"
          ><path
            d="m2185.22 568.349 170.387-58.223 90.762 265.609-170.387 58.223z"
            style="fill:url(#_Linear9);fill-rule:nonzero"></path></g
        ></g
      ><defs
        ><linearGradient
          id="_Linear3"
          x1="0"
          x2="1"
          y1="0"
          y2="0"
          gradientTransform="rotate(123.866 561.713 1136.406)scale(277.19684)"
          gradientUnits="userSpaceOnUse"
          ><stop offset="0" style="stop-color:#fecb00;stop-opacity:1"
          ></stop><stop offset=".05" style="stop-color:#fec800;stop-opacity:1"
          ></stop><stop offset=".14" style="stop-color:#febf00;stop-opacity:1"
          ></stop><stop offset=".15" style="stop-color:#febf00;stop-opacity:1"
          ></stop><stop offset=".19" style="stop-color:#feba00;stop-opacity:1"
          ></stop><stop offset=".2" style="stop-color:#feba00;stop-opacity:1"
          ></stop><stop offset=".31" style="stop-color:#fead00;stop-opacity:1"
          ></stop><stop offset=".32" style="stop-color:#fead00;stop-opacity:1"
          ></stop><stop offset=".44" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".45" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".48" style="stop-color:#fe9b00;stop-opacity:1"
          ></stop><stop offset=".49" style="stop-color:#fe9b00;stop-opacity:1"
          ></stop><stop offset=".52" style="stop-color:#fe9700;stop-opacity:1"
          ></stop><stop offset=".61" style="stop-color:#fe8e00;stop-opacity:1"
          ></stop><stop offset=".62" style="stop-color:#fe8e00;stop-opacity:1"
          ></stop><stop offset=".74" style="stop-color:#fe8000;stop-opacity:1"
          ></stop><stop offset=".78" style="stop-color:#fe7c00;stop-opacity:1"
          ></stop><stop offset=".79" style="stop-color:#fe7c00;stop-opacity:1"
          ></stop><stop offset=".91" style="stop-color:#fe6f00;stop-opacity:1"
          ></stop><stop offset=".91" style="stop-color:#fe6f00;stop-opacity:1"
          ></stop><stop offset="1" style="stop-color:#fe6600;stop-opacity:1"
          ></stop></linearGradient
        ><linearGradient
          id="_Linear6"
          x1="0"
          x2="1"
          y1="0"
          y2="0"
          gradientTransform="rotate(123.866 1351.125 1162.543)scale(277.19143)"
          gradientUnits="userSpaceOnUse"
          ><stop offset="0" style="stop-color:#fecb00;stop-opacity:1"
          ></stop><stop offset=".05" style="stop-color:#fec800;stop-opacity:1"
          ></stop><stop offset=".14" style="stop-color:#febf00;stop-opacity:1"
          ></stop><stop offset=".19" style="stop-color:#feba00;stop-opacity:1"
          ></stop><stop offset=".2" style="stop-color:#feba00;stop-opacity:1"
          ></stop><stop offset=".27" style="stop-color:#feb100;stop-opacity:1"
          ></stop><stop offset=".31" style="stop-color:#fead00;stop-opacity:1"
          ></stop><stop offset=".32" style="stop-color:#fead00;stop-opacity:1"
          ></stop><stop offset=".4" style="stop-color:#fea400;stop-opacity:1"
          ></stop><stop offset=".44" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".45" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".48" style="stop-color:#fe9b00;stop-opacity:1"
          ></stop><stop offset=".49" style="stop-color:#fe9b00;stop-opacity:1"
          ></stop><stop offset=".52" style="stop-color:#fe9700;stop-opacity:1"
          ></stop><stop offset=".61" style="stop-color:#fe8e00;stop-opacity:1"
          ></stop><stop offset=".66" style="stop-color:#fe8900;stop-opacity:1"
          ></stop><stop offset=".66" style="stop-color:#fe8900;stop-opacity:1"
          ></stop><stop offset=".74" style="stop-color:#fe8000;stop-opacity:1"
          ></stop><stop offset=".78" style="stop-color:#fe7c00;stop-opacity:1"
          ></stop><stop offset=".79" style="stop-color:#fe7c00;stop-opacity:1"
          ></stop><stop offset=".87" style="stop-color:#fe7300;stop-opacity:1"
          ></stop><stop offset=".91" style="stop-color:#fe6f00;stop-opacity:1"
          ></stop><stop offset=".91" style="stop-color:#fe6f00;stop-opacity:1"
          ></stop><stop offset=".95" style="stop-color:#fe6a00;stop-opacity:1"
          ></stop><stop offset=".99" style="stop-color:#fe6600;stop-opacity:1"
          ></stop><stop offset="1" style="stop-color:#fe6600;stop-opacity:1"
          ></stop></linearGradient
        ><linearGradient
          id="_Linear9"
          x1="0"
          x2="1"
          y1="0"
          y2="0"
          gradientTransform="rotate(71.134 758.289 1857.276)scale(280.68836)"
          gradientUnits="userSpaceOnUse"
          ><stop offset="0" style="stop-color:#fecb00;stop-opacity:1"
          ></stop><stop offset=".08" style="stop-color:#fec600;stop-opacity:1"
          ></stop><stop offset=".13" style="stop-color:#fec100;stop-opacity:1"
          ></stop><stop offset=".13" style="stop-color:#fec100;stop-opacity:1"
          ></stop><stop offset=".21" style="stop-color:#feb800;stop-opacity:1"
          ></stop><stop offset=".3" style="stop-color:#feae00;stop-opacity:1"
          ></stop><stop offset=".34" style="stop-color:#feaa00;stop-opacity:1"
          ></stop><stop offset=".35" style="stop-color:#feaa00;stop-opacity:1"
          ></stop><stop offset=".44" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".45" style="stop-color:#fea000;stop-opacity:1"
          ></stop><stop offset=".48" style="stop-color:#fe9b00;stop-opacity:1"
          ></stop><stop offset=".71" style="stop-color:#fe8300;stop-opacity:1"
          ></stop><stop offset=".72" style="stop-color:#fe8300;stop-opacity:1"
          ></stop><stop offset=".75" style="stop-color:#fe7f00;stop-opacity:1"
          ></stop><stop offset=".76" style="stop-color:#fe7f00;stop-opacity:1"
          ></stop><stop offset=".84" style="stop-color:#fe7500;stop-opacity:1"
          ></stop><stop offset=".85" style="stop-color:#fe7500;stop-opacity:1"
          ></stop><stop offset=".93" style="stop-color:#fe6c00;stop-opacity:1"
          ></stop><stop offset=".98" style="stop-color:#fe6700;stop-opacity:1"
          ></stop><stop offset=".98" style="stop-color:#fe6700;stop-opacity:1"
          ></stop><stop offset="1" style="stop-color:#fe6600;stop-opacity:1"
          ></stop></linearGradient
        ></defs
      ></svg
    >
    </div>
    <a href="/">Volver al inicio</a>
  </body>
</html>
<style>
  div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    background-color: #fe1e00;
    padding: 2rem;
    border-radius: 8rem;
  }
</style>